html,
body {
  margin: 0;
}


h1 {
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  margin: 0;
}

.btn {
  border: 3px solid white;
  margin: auto;
  padding: 15px;
  margin-top: 45px;
}

.btn-portfolio {
  width: 150px;
  &:hover {
    background: rgba(white, 0.4);
  }
}

.text-center {
  text-align: center;
}

.u-ml {
  margin-left: 10px;
}
