.portfolio-container {
  padding-left: 7px;
  padding-top: 20px;
}

.photo-grid {
  max-width: 900px;
  margin: auto;
}

.photo-grid__item {
  display: inline-block;
  .lazy-loading-image {
    cursor: pointer;
    max-width: 95%;
    transition: 200ms opacity ease;
    padding: 0 5px 10px 5px;
    img {
      opacity: 0;
      width: 100%;
      height: auto;
    }
    &.loaded img {
      opacity: 1;
    }
  }
}
