$transitionTime: 1s;
.home-container {
  color: white;
}

.home__body {
  position: relative;
  height: 100vh;
  text-align: center;
}

.header {
  padding-top: 15vh;
}

.subheader {
  font-size: 1.5rem;
  font-family: 'Crimson Text', serif;
  padding: 0 10px;
}

.cover {
  background-image: url('/static/img/cover.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  opacity: 0;
  transition: $transitionTime opacity ease;
  &.loaded {
    opacity: 1;
  }
}

.footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.icons {
  font-size: 2rem;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.icon-facebook:hover,
.icon-instagram:hover,
.icon-tumblr:hover {
  cursor: pointer;
  color: #7df7f8;
}

@include media("<=phone") {
  h1 {
    font-size: 3rem;
  }
  .header-center {
    top: 20%;
  }

  .btn-portfolio {
    width: 20%;
  }
}
