.full-photo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  height: calc(100vh - 40px);
  position: relative;

  & .icon-close {
    cursor: pointer;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
  }
}
